.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-download(style="color: #e25440;")
      |  Back up
.grid
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.xo-icon-vm(style='color: #e25440;')
      |  VMs to back-up
    .panel-body
